name: "CI"

on:
  push:
    branches:
      - "main"
  pull_request: null

jobs:
  qa:
    name: "QA"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3.5.2"

      - name: "Set up PHP"
        uses: "shivammathur/setup-php@2.25.1"
        with:
          coverage: "none"
          php-version: "8.2"
          tools: "phive"

      - name: "Install dependencies with composer"
        run: "composer install --no-interaction --optimize-autoloader --prefer-dist"

      - name: "Install dependencies with phive"
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: "ant tools"

      - name: "Run php-cs-fixer"
        run: "ant cs-check"

      - name: "Run psalm"
        run: "ant qa"

  tests:
    name: "Tests"

    runs-on: "${{ matrix.os }}"

    env:
      PHP_INI_VALUES: memory_limit=-1, assert.exception=1, zend.assertions=1, error_reporting=-1, log_errors_max_len=0, display_errors=On

    strategy:
      matrix:
        os:
          - ubuntu-latest

        php-versions:
          - "8.2"
          - "8.3"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4.1.1"

      - name: "Set up PHP"
        uses: "shivammathur/setup-php@v2.30.2 "
        env:
          COMPOSER_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          coverage: "pcov"
          extensions: ${{ env.extensions }}
          ini-values: ${{ env.PHP_INI_VALUES }}
          php-version: ${{ matrix.php-versions }}
          tools: "phive"

      - name: "Install dependencies with composer"
        run: "composer install --no-interaction --optimize-autoloader --prefer-dist"

      - name: "Install dependencies with phive"
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: "ant tools"

      - name: "Run PHPUnit"
        run: "tools/phpunit --no-coverage --coverage-clover build/logs/clover.xml"

      - name: "Send code coverage report to codecov.io"
        uses: "codecov/codecov-action@v4.1.1"
        with:
          files: "build/logs/clover.xml"
